################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FitnessApp.Api/bin
/FitnessApp.Api/obj
/FitnessApp.Api/Properties/PublishProfiles
/FitnessApp.Data/bin
/FitnessApp.Data/obj
